<ul>
    {{#eachSkin}}
        <li>
            <div class="circular" style='background-image: url(../skins/{{name}}.png)'><p
                    class="imgDescription">{{name}}</p></div>
        </li>
    {{/eachSkin}}
</ul>