<ul>
    {{#each checkdir.skins}}
        <li>
            <div class=\"circular\" style='background-image: url(../skins/{{this}}.png)'><p
                    class=\"imgDescription\">{{this}}</p></div>
        </li>
    {{/each}}
</ul>